body{
    overflow-x: hidden;
}
body,ul,li,p,h3{
    margin:0;
    padding:0;
    list-style: none;
    font-size: 12px;
}
a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
}
/*导航*/
.out-nav{
    width:100%;
    height:44px;
    background-color: #000;
}
.out-nav .nav{
    box-sizing: content-box;
    max-width: 980px;
    padding:0 22px;
    height:100%;
    margin:0 auto;
    text-align: justify;
    text-align-last:justify;
    text-justify: auto;
}
.out-nav .nav li{
    width:auto;
    height:100%;
    display: inline-block;
}
.out-nav .nav li a{
    padding:0 10px;
    line-height: 44px;
    font-size:16px;
    font-weight: 400;
    margin:0;
}
.out-nav .nav li a:hover{
    color: #ccc;
}
.out-nav .nav li:nth-of-type(1) a{
    padding:0 10px;
    width:40px;
    height:44px;
    display: block;
    background-image: url("../img/image_large.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.out-nav .nav li:nth-of-type(9) a{
    padding:0 10px;
    width:40px;
    height:44px;
    display: block;
    background-image: url("../img/image_large (2).svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.out-nav .nav li:nth-of-type(10) a{
    padding:0 10px;
    width:40px;
    height:44px;
    display: block;
    background-image: url("../img/image_large (1).svg");
    background-repeat: no-repeat;
    background-position: center center;
}


/*banner*/
.banner{
    height:540px;
    position: relative;
}
.banner .imgbox{
    height:100%;
    position: relative;
}
.banner .imgbox a>p{
    width:100%;
    height:30px;
    position: absolute;
    top: 0;
    left: 0;
    margin:10px 0;
    background-repeat: no-repeat;
    background-position: center top;
}
.banner .imgbox a{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: #000000;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 50% 38%;
}
.banner .imgbox a span{
    font-size:40px;
    position: absolute;
    top:45px;
    right:0;
    left: 0;
    margin:10px auto;
    text-align: center;
}
.banner .imgbox a:nth-of-type(3)>p{
    width:100%;
    height:24px;
    position: absolute;
    top: 10px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
}
.banner .imgbox a:nth-of-type(3){
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 75px;
    background-color: #fff;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.banner .imgbox a:nth-of-type(3)>span{
    color: #666;
}
.banner .left,.banner .right{
    width:20%;
    height:100%;
    position: absolute;
    top:0;
    z-index: 99;
}
.banner .left{
    left:0;
}
.banner .right{
    right:0;
}
.banner .left .leftbut,.banner .right .rightbut{
    width:64px;
    height:64px;
    border-radius: 50%;
    background-color: rgba(190,190,190,0.3);
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    font-family: "宋体";
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    /*display: none;*/
    cursor: pointer;
}

.container .row .goods{
    height:200px;
    padding: 1px 0;
}
.container .row .goods li{
    height:100%;
}
.container .row .goods li a{
    display: block;
    height:100%;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: center center;
}
.foot{
    width:100%;
    background-color: #f2f2f2;
}
.foot .container .row .footer{
    float: left;
    padding-top: 20px;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.foot>.container>.row{
    box-sizing: content-box;
    max-width: 980px;
    padding:0 22px;
    margin: 0 auto;
    color: #333;
}
.foot .container .row .footer li a{
    font-size: 1em;
    color: #666;
}
.foot .container .row .footer li a:hover{
    color: #333;
    text-decoration: underline;
}